/* You can add global styles to this file, and also import other style files */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  /* padding: 3rem; */
  background: #009ce7;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
}

p {
  font-family: 'Merriweather', sans-serif;
  font-size: 3em;
  color: #fff;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
