<app-header></app-header>

<div class="center">
  <app-input
    [inputPlaceholder]="inputPlaceholder"
    [(sharedVar)]="input"
  ></app-input>
</div>
<div class="center">
  <app-button [label]="buttonLabel"> </app-button>
</div>

<!-- <<div>
  <div [ngSwitch]="step">
    <div *ngSwitchCase="1">
      <app-set-interval [input]="this.input"></app-set-interval>
    </div>
    <div *ngSwitchCase="2">
      <app-enter-numbers></app-enter-numbers>
    </div>
    <div *ngSwitchCase="3">
      <app-goodbye></app-goodbye>
    </div>
    <div *ngSwitchDefault>
      <app-set-interval></app-set-interval>
    </div>
  </div>
</div> -->
